<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
    </appSettings>
    <connectionStrings>
        <add name="TelegramServiceDb" connectionString="Data Source=localhost;Initial Catalog=TelegramService;Trusted_Connection=True;MultipleActiveResultSets=True;TrustServerCertificate=true" />
    </connectionStrings>
</configuration>